@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    height: fit-content;
}
header{
    height: 10vh;
    padding: 15px;
    background: fixed;
    background-color: white;
    width: 80%;
    margin-left:10% ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav .logo{
    height: 100px;
    border:2px solid  #f04336;
    border-radius: 20px;
    background: black;
}
nav .logo:hover{
    border:2px solid #212529;
    background: white;
}
nav .companyName{
    color: #f04336;
    font-size: 40px;
    margin-left: 0;
    font-family:"lilita one";

}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    color: black;
    font-size: 20px;
    font-weight: 800;
    transition: all 0.2s ease;
}
nav ul li:hover{
    background: #f04336;
    padding: 1rem;
    border-radius:20px ;
}
nav ul li a:hover{
    color: white;
}
nav ul li a{
     text-decoration: none;
     transition: 0.2s ease;
     color: #212529;
}
body::-webkit-scrollbar {
    display: none;
}
main{
    background: #f0f0f0;
}
.container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 3fr 1fr;
    column-gap: 12px;
    width: 90vw;
    margin-left: 5vw;
    justify-items: center;
    margin-left: 150px;
    overflow: hidden;
    height: fit-content;

}
.about-us {
    height: 130vh;
    background-image: url("images/dachshund\ male.jpg");

    background-position: center;
    background-size: cover;
    overflow: hidden;

    position: relative;
    width: 40vw;
    grid-row: 1 /3;
    object-fit: fill;
    padding: -12vw;
    padding-left: -10vw;

    border-top-left-radius: 18vw;
    border-top-right-radius: 2vw;
    border: 2px solid black;
    border-bottom-right-radius: 20vw;
    border-bottom-left-radius: 2vw;

    /* Animation properties */
    opacity: 0; /* Initially hidden */
    animation: fadeIn 4s ease-in forwards; /* Fade-in animation */

}

@keyframes fadeIn {
    from {
        opacity: 0; /* Fully transparent */
    }
    to {
        opacity: 1; /* Fully visible */
    }
}

.content {
    height: 150vh;
    width: 50vw;
    background-image: url("images/pexels-goochie-poochie-3361746.jpg");
    background-position: center;
    background-size: cover;

    opacity: 0; /* Initially hidden */
    animation: fadeIn 7s ease-in forwards;

    overflow: hidden;
    position: relative;
    grid-column: 3/1;
    margin-left: 200px;
    display: inline-block;
    align-items: center;

    border-top-left-radius: 12vw;
    border-top-right-radius: 2vw;
    border: 2px red;
    border-bottom-right-radius: 12vw;
    border-bottom-left-radius: 2vw;

}

.container .content {
    margin-left: 25vw;

}
.text {
    color: black;
    text-align: center;
    width: 400px;
    font-size: 23px;
    padding-right: 90px;
    line-height: 42px;
    margin-top: 25vh;
    overflow: hidden;

}
.text i {
    font-size: 60px;
    color: #f04336;
    font-weight: bolder;
}
.text strong{
    color: #f04336;
}
.text span{
    color: #f04336;
    font-size: 40px;
    font-weight: bolder;
}
.values {
    margin-top: -130vh;
}
.values h2{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.fa-paw{
    transform: rotate(45deg);
    color: #f04336;
    font-size: 50px;
}
.values span{
    background: #f04336;
    border-radius: 20px;
    padding: 1rem;
}
.value{
    margin-bottom: 25px;
}
.value h3{
    color: #f04336;
    font-weight: bolder;
    font-size: 25px;
}
footer {
    color: black;
    width: 100%;
    justify-items: center;
    background: url("images/Foote\ background.jpg");
    height: fit-content;
    padding: 1rem;
}
footer span{
    color: #f04336;
    font-weight: bolder;
    font-family: "lilita one";
}
footer .fa-github{
    font-size: 20px;
}
