@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    height: 10vh;
    padding: 15px;
    background: fixed;
    background-color: white;
    width: 80%;
    margin-left: 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav .logo {
    height: 100px;
    border: 2px solid #f04336;
    border-radius: 20px;
    background: black;
}

nav .logo:hover {
    border: 2px solid #212529;
    background: white;
}

nav .companyName {
    color: #f04336;
    font-size: 40px;
    margin-left: 0;
    font-family: "lilita one";

}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    color: black;
    font-size: 20px;
    font-weight: 800;
    transition: all 0.2s ease;
}

nav ul li:hover {
    background: #f04336;
    padding: 1rem;
    border-radius: 20px;
}

nav ul li a:hover {
    color: white;
}

nav ul li a {
    text-decoration: none;
    transition: 0.2s ease;
    color: #212529;
}

section {
    padding: 40px;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

.section1 {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    background: url('images/german\ shepherd.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

#home {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#doglist {
    font-size: 70px;
    font-weight: bolder;
    padding: 1rem;
}

.section {
    background-color: #080808;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

a {
    text-decoration: none;
}

#div1 {
    width: 100%;
    padding: 20px;
}

#section2 {
    background-color: #111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dog-gallery {
    display: flex;
    justify-content: space-between;
    flex-direction: wrap;
    width: 100%;
    gap: 20px;
    margin: 2rem 0;
}

.dog-image {
    flex: 1 1 calc(25% - 20px);
    width: 100%;
    height: 30vh;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.dog {
    flex: 1 1 calc(25% - 20px);
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.dog-image:hover {
    transform: scale(1.05);
}

.the-description {
    background: #d6cbca;
    height: 10vh;
    border-radius: 10px;
}

.the-description .name {
    color: #f04336;
}

.the-description .behaviour {
    color: black;
    font-size: 10px;
}

.the-description #adopt-btn {
    cursor: pointer;
    margin-top: 10px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    font-family: poppins;
    padding: 10px;
    height: fit-content;
    width: 40%;
    border-radius: 5px;
    background: #f04336;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}

.the-description #adopt-btn i {
    transform: rotate(45deg);
    margin-left: 10px;
}

.the-description #adopt-btn:hover {
    background: #212529;
    border-bottom: 2px solid #f04336;
}

footer {
    color: black;
    width: 100%;
    justify-items: center;
    background: url("images/Foote\ background.jpg");
    height: fit-content;
    padding: 1rem;
}

footer span {
    color: #f04336;
    font-weight: bolder;
    font-family: "lilita one";
}

footer .fa-github {
    font-size: 20px;
}

#sign-up {
    width: 80%;
    height: 90vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 2fr;
    border-radius: 16px;
    border: 2px solid #f04336;
    margin-left: 10%;
    position: absolute;
    top: 0;
    transform: translate(-5% ,40%);
    display: none;
}

.right-col {
    float: right;
    background: url("images/signup3.jpg");
    background-position: center;
    background-size: cover;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.right-col h2 {
    color: #f04336;
    margin-top: 15%;
    grid-column: 1/3;
    font-size: 50px;
    font-weight: bolder;
    margin-left: 30px;
    font-family: "lilita one";
}

.right-col p {
    color: white;
    margin-top: 20%;
    margin-left: 30px;
    font-size: 22px;
    letter-spacing: 1.5px;
    line-height: 35px;

}

.sign-name i {
    transform: rotate(45deg);
    margin-left: 10px;
    color: #f04336;
    font-size: 50px;
}

.left-col {
    width: 100%;
    height: 80vh;
    border-radius: 20px;
    padding-top: 50px;
}

.logoicon {
    display: flex;
    margin-bottom: 5%;
}

.logoicon img {
    border-radius: 20%;
    border: 1px solid #f04336;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.logoicon h2 {
    font-family: "lilita one";
}

.sign-name {
    margin-top: 10px;
    color: #f04336;
    font-weight: bolder;
    margin-left: 20%;
    font-size: 20px;
}

.sign-name h4 {
    font-size: 35px;
    color: #001d35;
    font-weight: bold;
    margin-bottom: 3px;
}

.sign-name h5 {
    color: #d6cbca;
    margin-bottom: 5px;
}

.input {
    margin-left: 20%;
    line-height: 30px;
    font-size: 15px;
    font-weight: 900;


}

/* label {
    margin-bottom: 5%;
} */

.input input {
    width: 70%;
    margin-bottom: 2%;
    border: 2px solid #c9c1c1;
    height: 50px;
    border-radius: 10px;
    padding-left: 12px;
    opacity: 0.5;

}

.input input:hover {
    border: 2px solid black;
}

.btn-submit {
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-size: 18px;
    margin-left: 20%;
    margin-top: 2%;
}

.btn {
    background-color: #212529;
    width: 70%;
    height: 45px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 8px;
    letter-spacing: 3px;
    padding: 10px 10px;
    align-self: center;
    color: #fff;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #be4242;
    border: 2px solid #f04336;
    color: white;
}
#closetab{
    background: #be4242;
    border-radius: 16px;
    border: 2px solid #212529;
    margin-left: 10px;
    margin-top: 10px;
    width: 50px;
    padding: 5px;
    transition: all 0.3s ease;
    font-weight: bolder;
}
#closetab:hover{
    background: black;
    color: white;
    border: 2px solid #be4242;
}


/* styling the sign up input fields */

.google {
    margin-top: 20px;
    margin-left: 20%;

}

.gsi-material-button {
    width: 70%;
    background-image: none;
    background-color: #fff;
    border: 2px solid rgb(145, 128, 128);
    -webkit-border-radius: 4px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 48px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 50px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    font-weight: bolder;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}
.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }
  
  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #001d35;
    opacity: 8%;
  }

#line {
    text-align: center;
    color: #777;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
    position: relative;
}

#line:before,
#line:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 25%;
    height: 1.8px;
    background-color: #ccc;
}


#line:before {
    left: 22%;
}

#line:after {
    right: 22%;
}

.have-account {
    margin-left: 24%;
    margin-top: 10px;
    font-size: 15px;
}
.have-account a {
    text-decoration: underline;

}