body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #5a4034;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    max-width: 1200px;
    margin: 50px auto;
    gap: 20px;
    position: relative;
    background:#fff;
    border-radius:10px;
    z-index: 1;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px; 
    background: url('Maltipoo.jpg') no-repeat center top;
    background-size: cover;
    z-index: 0; 
}
.form-container {
    flex: 2;
    padding: 20px;
}

.form-container h1 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #5a4034;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #5a4034;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.form-container input:focus,
.form-container textarea:focus {
    outline: none;
    border-color: #5a4034;
    box-shadow: 0 0 5px rgba(90, 64, 52, 0.5);
}

textarea {
    resize: none; 
}

.form-container button {
    padding: 8px 15px;
    background-color: #5a4034;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #764c3c;
}

.Info-container {
    flex: 1;
    background-color: #f26b63;
    padding: 20px;
    border-radius: 8px;
    color: white;
}

.Info-container h2 {
    margin-top: 0;
    font-size: 22px;
}

.Info-container p {
    margin: 10px 0;
    font-size: 15px;
    line-height: 1.6;
}

.info-item {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 16px;
}

.info-item i {
    margin-right: 12px;
    font-size: 18px;
    color: #ffe27c;
}

.info-item a {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
}

.info-item a:hover {
    text-decoration: underline;
}
.info-item .fa-x-twitter {
    background-color: #1DA1F2;
    padding: 10px;
    border-radius: 50%;
    color: white;
}

.info-item .fa-square-instagram {
    background: linear-gradient(45deg, #FDCB58, #E1306C, #C13584, #405DE6);
    padding: 10px;
    border-radius: 50%;
    color: white;
}

.info-item .fa-facebook {
    background-color: #1877F2;
    padding: 10px;
    border-radius: 50%;
    color: white;
}
.form-container input[type="text"],
.form-container input[type="email"] {
    display: inline-block;
    width: 48%;
    margin-right: 2%;
}

.form-container input[type="text"]:nth-child(even),
.form-container input[type="email"]:nth-child(even) {
    margin-right: 0;
}

textarea {
    width: 100%;
}